#xcode Noise
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.xcworkspace
xcuserdata

# OSX Noise
.DS_Store
profile
*~
*.lock
*.DS_Store
*.swp
*.out
.DS_Store

.DS_Store

PartyAnimal.xcodeproj/project.xcworkspace/xcuserdata/RoxanaJula.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

.DS_Store
